body {
  background-color: rgb(223, 220, 222);
}

nav {
  background-color: #0e0050;
}
border-bottom: 2px solid rgb(205, 117, 0);
color: #FFF;
background-color: #225470;
background-color: rgba(214, 109, 0, 0.75);
background-color: rgba(181, 181, 181, 0.5);
